---
const a = "<Diego Dev />";
---

<footer
    class="w-full p-4 bg-custom-color mt-5 flex items-center flex-col justify-center"
>
    <h1 class="text-yellow-50">{a}</h1>
    <p class="text-yellow-50">
        Contáctame en <a
            class="text-blue-500 hover:underline"
            href="mailto:diegolineares@gmail.com">diegolineares@gmail.com</a
        >
    </p>
</footer>
