---

---

<section class="w-11/12 py-3 mx-auto overflow-hidden">
  <div class="flex flex-col items-center md:flex-row justify-between">
    <div class="">
      <div class="flex flex-col gap-3">
        <span
          class="text-xl p-3 rounded-[16px] bg-custom-color text-blue-900 font-bold w-fit"
          >👋Saludos!</span
        >
        <div class="">
          <h1 class="text-white text-6xl font-bold">Diego</h1>
          <h1 class="text-white text-6xl font-bold">Lineares</h1>
        </div>
        <p class="text-[#FFFFFF80] text-2xl">Front-end developer.</p>
      </div>

      <div class="flex gap-2 mt-3">
        <a
          href="https://www.linkedin.com/in/diego-lineares-40576b215/"
          target="_blank"
          ><img class="cursor-pointer" src="/linkedin.svg" alt="" /></a
        >
        <a href="https://github.com/linearesdiego" target="_blank">
          <img class="cursor-pointer" src="/github.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="w-4/5 md:w-2/6">
      <img class="w-full m-auto mb-8" src="/diegoimg.png" alt="" />
    </div>

    <div class="mb-4">
      <a
        href="/CVDiegoLineares.pdf"
        class="border border-blue-500 px-6 py-4 rounded-lg hover:border-blue-300 text-white font-bold cursor-pointer tracking-wider mb-3"
        download="/CVDiegoLineares.pdf"
      >
        Descargar CV
        <img
          class="w-[20px] invert-1 inline-block"
          src="/arrow-down.svg"
          alt=""
        />
      </a>
    </div>
  </div>
</section>
<style>
  .invert-1 {
    filter: invert(1);
  }
</style>
