---

---

<header class="w-11/12 py-8 mx-auto overflow-hidden">
    <nav
        class="w-full h-15 flex items-center justify-between bg-custom-color rounded-[16px] py-4 p-7"
    >
        <img src="/Logo.svg" alt="" />
        <div class="flex items-center gap-6">
            <li class="text-[#FFFFFF80] list-none cursor-pointer font-bold">
                Home
            </li>
            <li class="text-[#FFFFFF80] list-none cursor-pointer font-bold">
                Skills
            </li>
            <li class="text-[#FFFFFF80] list-none cursor-pointer font-bold">
                Proyectos
            </li>
        </div>
    </nav>
</header>
