---

---

<section
    id="skills"
    class="w-11/12 py-3 mx-auto overflow-hidden mt-5 border-t border-b border-l-0 border-blue-950"
>
    <div class="w-full flex flex-col gap-6 items-center mt-4">
        <span
            class="text-xl p-4 rounded-[16px] bg-custom-color text-blue-900 font-bold w-fit text-center"
            >🧑‍💻 Skills · Experiencias</span
        >

        <h1 class="text-white text-2xl font-bold text-center">
            TECNOLOGIAS E HABILIDADES
        </h1>
    </div>

    <div
        class="w-full flex gap-6 items-center mt-6 md:flex-row justify-center flex-wrap"
    >
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/html.svg"
            alt="html"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/css.svg"
            alt="CSS"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/jsl.svg"
            alt="JS"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/logos_react.svg"
            alt="REACT"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/redux.svg"
            alt="REDUX"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/php-icon.svg"
            alt="PHP"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/laravel-icon.svg"
            alt="LARAVEL"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/tailwind.svg"
            alt="TAILWIND"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/astro.svg"
            alt="ASTRO JS"
        />
    </div>

    <h1 class="text-white text-2xl font-bold text-center mt-7">HERRAMIENTAS</h1>
    <div class="w-full flex gap-8 mt-6 md:flex-row justify-center flex-wrap">
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/vscode.svg"
            alt="VISUAL ESTUDIO"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/gitlab.svg"
            alt="GITLAB"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/github.svg"
            alt="GITHUB"
        />
        <img
            class="w-[150px] h-[100px] brighten cursor-pointer"
            src="/logos/figma-icon.svg"
            alt="FIGMA"
        />
        <img
            class="w-[150px] h-[100px] object-contain brighten cursor-pointer"
            src="/logos/postman.svg"
            alt="POSTMAN"
        />
    </div>
</section>
<style>
    .brighten:hover {
        filter: brightness(1.5);
    }
</style>
